<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{{#if register}}
    <div>You should register!!!</div>

{{/if}}

<body>
    <form action="/register" method="post">
        <p>
            <label>Name:
                <input type="text" name="name">
            </label>
        </p>
        <p>
            <label>Email:
                <input type="text" name="email">
            </label>
        </p>
        <p>
            <label>Password:
                <input type="password" name="password">
            </label>
        </p>
        <input type="submit" value="OK">
    </form>
</body>

</html>